* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

button {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #07644d;
    cursor: pointer;
}

.button {
    transition-duration: 0.4s;
}

.button:hover {
    background: #013024;
}

.login {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    background: #e9e9e9;
    display: flex;
}

.loginContainer {
    z-index: 1;
    position: fixed;
    top: 70px;
    right: 10px;
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 520px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient( ellipse at left bottom, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 41, 1) 48%, rgba(0, 212, 255, 1) 100%);
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.loginContainer #close {
    position: inherit;
    top: inherit;
    right: inherit;
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
    color: yellow;
    float: right;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 5px;
    padding:2px 5px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.loginContainer #close:hover {
    float: right;
    cursor: pointer;
    float: right;
    padding:2px 5px;
    background:rgb(2, 54, 47);
    color:#fff;
}

.loginContainer label {
    color: white;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
}



.loginContainer input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    letter-spacing: 1px;
}

.loginContainer input[type="radio"] {
    vertical-align: baseline;
    width: 30px;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    letter-spacing: 1px;
}

.loginContainer input[type="radio"]:checked+label {
    background-color: #bbb;
}



.loginContainer .btnContainer {
    width: 100%;
    padding: 24px 0;
}

.loginContainer .btnContainer p {
    margin: 14px 0 0 0;
    text-align: right;
    color: #fff;
}

.loginContainer .btnContainer p span {
    color: yellow;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.loginContainer .btnContainer p span:hover {
    color: red;
}

.loginContainer .errorMsg {
    color: red;
    font-size: 16px;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient( ellipse at left bottom, rgb(2, 0, 36) 0%, rgba(9, 121, 41, 1) 48%, rgba(0, 212, 255, 1) 100%);
}

.hero #signUp{
    color: yellow;
    float: right;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 5px;
    padding:2px 5px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.hero #signUp:hover {
    float: right;
    cursor: pointer;
    float: right;
    padding:2px 5px;
    background:rgb(2, 54, 47);
    color:#fff;
}

.hero nav {
    position: relative;
    background: #105344;
    width: 100%;
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero nav h2 {
    color: #fff;
}

.hero nav button {
    width: 86px;
    padding: 8px 0;
    background: #00b982;
}

.hero nav button:hover {
    background-color: #007e41;
}

.accountContainer {
    position: fixed;
    top: 78px;
    right: 0;
    padding: 60px;
    margin: auto;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient( ellipse at left bottom, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 41, 1) 48%, rgba(0, 212, 255, 1) 100%);
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.feed {
    overflow-y: scroll;
    position: fixed;
    top: 78px;
    padding: 60px;
    margin: auto;
    max-width: 70%;
    min-height: 600px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient( ellipse at right top, rgb(39, 38, 54) 0%, rgb(159, 226, 177) 48%, rgb(255, 255, 255) 100%);
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.feed .phantomElement{
    position: relative;
    justify-self: center;
    border-radius: 30px;
    right: 30px;
    top: 200px;
    padding: 70px;
    margin: 300px;
    width: 80%;
    max-width: 90%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(143, 192, 173);

}

.feed .feedContainer {
    position: relative;
    justify-self: center;
    border-radius: 25px;
    top: 80px;
    padding: 60px;
    margin: 10px;
    width: 80%;
    max-width: 90%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(143, 192, 173);
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.feed .feedContainer label {
    color: rgb(95, 0, 184);
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
}